.footer {
}
.section_in {
}
.footer_main {
	padding: 0 20rem 2rem 0;
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	li {
		display: flex;
	}
	@include bp($point_2) {
		padding: 0 1rem 1rem 0;
	}
	@include bp($point_5) {
		padding: 0;
		ul {
			flex-direction: column;
		}
		li {
			display: block;
		}
	}
	@include bp($point_5) {
		padding-top: 40rem;
	}
}
.footer_protect {
	margin-right: 6rem;
	@include bp($point_5) {
		margin: 0 0 1rem 0;
		p {
			text-align: center;
			font-size: 1.6rem;
		}
	}
}
.footer_policy {
	@include bp($point_5) {
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}
}
.footer_arkada {
	@include bp($point_5) {
		max-width: 20rem;
	}
}