.footer {
}
.section_in {
}
.footer_main {
	padding: 0 20rem;
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	li {
		display: flex;
	}
}
.footer_protect {
	margin-right: 6rem;
}
.footer_policy {
}
.footer_arkada {
}