.header {
	position: absolute;
	top: 0;
	left: 0;
	height: $header;
	width: 100%;
	will-change: transform;
	@include z-index(header);
	@include flex-center;
	display: flex;
	align-items: center;
}
.section_in {
}
.header_main {
	display: flex;
	justify-content: space-around;
	align-items: center;
	@include bp($point_5) {
		justify-content: space-between;
	}
}
.header_logo {
	max-width: 22rem;
	@include bp($point_5) {
		max-width: 16rem;
	}
}
.header_menu {
	ul {
		display: flex;
	}
	li {
		&:not(:last-child) {
				margin-right: 6rem;
		}
		&:hover {
			transform: scale(1.1);
			transition: all .3s;
		}
	}
	a {
		font-family: $font_2;
	}
	@include bp($point_2) {
		&:not(:last-child) {
			display: none;
	}
	}
}
.header_social {
	@include bp($point_2){
		display: none;
	}
	@include bp($point_5) {
		display: none;
		}
	ul {
		display: flex;
		@include bp($point_2) {
			justify-content: space-evenly;
		}
		}
	li {
		&:not(:last-child) {
				margin-right: 2.5rem;
			}
		}
}
	.header_social_wh {
		border-radius: 4rem;
		height: 5rem;
		width: 5rem;
		overflow: hidden;
		a {
			@include flex-center;
			width: 100%;
			height: 100%;
			background: linear-gradient(67.62deg, #00A867 1.42%, #00FF38 113.45%);
			}
		img {
			width: 2rem;
			height: 2rem;
		}
		&:hover {
			transform: scale(1.1);
			transition: all .3s;
		}
	}
	.header_social_tg {
			border-radius: 4rem;
			height: 5rem;
			width: 5rem;
			overflow: hidden;
			a {
				@include flex-center;
				width: 100%;
				height: 100%;
				background: linear-gradient(63.43deg, #009BDE 5.68%, #5ECFFF 111.74%);
			}
			img {
				width: 2rem;
				height: 2rem;
			}
			&:hover {
				transform: scale(1.1);
				transition: all .3s;
			}
		}
.header_tel {
	@include bp($point_5) {
		display: none;
	}
	margin-bottom: -2.4rem;
	p {
		font-size: 2.5rem;
		font-family: $font_3;
		&:hover {
			transform: scale(1.1);
			transition: all .3s;
		}
	}
}
.heder_btn {
	margin-left: 4rem;
	button {
		font-size: 1.8rem;
		font-family: $font_1;
		border-bottom: .1rem dashed $black;
		&:hover {
			transform: scale(1.1);
			transition: all .3s;
		}
	}
}

.burger_trigger {
	width: 3rem;
	height: 2.2rem;
	position: relative;
	display: none;
	@include bp($point_2) {
		display: block;
	}
	span {
		display: flex;
		width: 100%;
		height: .3rem;
		background-color: $black;
		position: absolute;
		top: 0;
		right: 0;
		pointer-events: none;
		&:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
			width: 75%;
		}
		&:nth-child(3) {
			top: auto;
			bottom: 0;
			width: 55%;
		}
	}
}