.popup {
	position: fixed;
	top: 0;
	left: 0;
	@include flex-center;
	width: 100%;
	height: 100%;
	@include z-index(popup);
	transition: all .2s ease;
	opacity: 0;
	visibility: hidden;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
.popup_form_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(2, 2, 2, 0.8), rgba(2, 2, 2, 0.8)), #f5f5f550;
}
.popup_close  {
	button {
		@include flex-center;
		width: 100%;
		height: 100%;
	}
}
.popup_form_w {
	background-color: $white;
	position: relative;
	padding: 6rem 8.4rem 8rem 8.4rem;
	max-width: 64.9rem;
	align-items: center;
	border-radius: 1rem;
	@include bp($point_2) {
		padding: 3rem 6.4rem;
	}
	@include bp($point_5) {
		padding: 2rem 4.4rem;
		margin: 0 7.5rem;
	}
}
.popup_close {
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
	button {
		color: $gradient;
	}
}
.icon {
}
.icon-close {
}
.popup_form_head {
	margin-bottom: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	p {
		font-size: 4.5rem;
		font-weight: 600;
		margin-bottom: 2rem;
	}
	@include bp($point_2) {
		margin-bottom: 2rem;
		p {
			font-size: 2.5rem
		}
	}
	@include bp($point_5) {
		h3 {
			font-size: 1.6rem;
		}
		p {
			font-size: 1.4rem;
			margin-bottom: 1rem;
		}
		span {
			font-size: 1.3rem;
			text-align: center
		}
	}
}
.popup_form {
}
.popup_form_input {
	input {
		@include app;
		padding: 2rem 2.5rem;
		background-color: $grey;
		border-radius: 1rem;
		width: 100%;
		font-size: 2rem;
		font-weight: 500;
		font-family: $font_1;
		color: $black;
	}
	&:not(:last-child) {
		margin-bottom: 1.5rem;
	}
	@include bp($point_5) {
		&:not(:last-child) {
			margin-bottom: .5rem;
		}
		input {
			padding: 1rem .5rem;
			font-size: 1.4rem;
		}
	}
}
.popup_form_btn {
	margin-bottom: 2rem;
	button {
		@include app;
		font-family: $font_2;
		font-size: 2rem;
		padding: 2.2rem 2.2rem;
		background: $gradient;
		border-radius: 1rem;
		width: 100%;
		font-family: $font_1;
		font-weight: 500;
		color: $black;
			&:hover {
				transition: .3s;
				background: linear-gradient(87.61deg, #FFC121 -9.17%, #F45E40 144.26%);
				box-shadow: 0 .4rem 3rem #FD8B39;
				border-radius: .7rem;
			}
	}
	@include bp($point_5) {
		button {
			font-size: 1.4rem;
			padding: 1rem 1.5rem;

		}
	}
}
.popup_policy {
	font-size: 1.8rem;
	a {
		border-bottom: .1rem solid $black;
	}
	@include bp($point_2) {
		text-align: center;
	}
	@include bp($point_5) {
		font-size: 1.5rem;
	}
}


.popup_info {
}
.popup_form_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(2, 2, 2, 0.8), rgba(2, 2, 2, 0.8)), #f5f5f55e;
}
.close_popups {
}
.popup_form_i {
	background-color: $white;
	max-width: $page_width;
	padding: 9rem 13rem 9rem 9rem;
	position: relative;
	border-radius: 1rem;
	@include bp($point_2) {
		padding: 2rem 5rem 1rem 2rem;
	}
	@include bp($point_5) {
		max-width: 35rem;
		padding: 1rem 1rem 1rem 2rem;
	}
}
.popup_close {
	button {
		color: #DC5F05;
	}
}
.icon {
}
.icon-close {
}
.popup_head {
	h3 {
		font-size: 2.5rem;
		margin-bottom: 3rem;
		font-family: $font_6;
	}
	@include bp($point_2) {
		margin-bottom: 2rem;
	}
	@include bp($point_5) {
		h3 {
			font-size: 1.5rem;
			margin-bottom: 1.5rem;
		}
	}
}
.popup_inform {
	ul {
		display: flex;
		margin-bottom: 3rem;
	}
	li {
		display: flex; 
		&:not(:last-child) {
			margin-right: 6rem;
		}
	}
	p {
		margin-right: 1rem;
		color: rgba(38, 38, 38, 0.7);
	}
	span {
		font-family: $font_2;
	}
	@include bp($point_5) {
		ul {
			flex-direction: column;
			margin-bottom: 1.5rem;
		}
		p {
			font-size: 1.3rem;
		}
		span {
			font-size: 1.3rem;
		}
	}
}
.popup_price {
	margin-bottom: 6rem;
	p {
		color: $dark-orange;
		font-size: 2.5rem;
		font-family: $font_3;
	}
	@include bp($point_2) {
		margin-bottom: 2rem;
	}
	@include bp($point_5) {
		p {
			font-size: 2rem;
		}
	}
}
.popup_base {
	max-height: 50rem;
	overflow-y: scroll;
	padding-right: 13rem;
	@include bp($point_2) {
		max-height: 35rem;
		padding-right: 2rem;
	}
}
.popup_txt {
	margin-bottom: 6rem;
	p {font-size: 1.8rem;
		margin-bottom: 1rem;
	}
	@include bp($point_5) {
		p {
			font-size: 1.3rem;
		}
		span {
			font-size: 1.3rem;
		}
	}
}
.popup_galery {
	margin-bottom: 6rem;
	ul {display: grid;
		grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
		grid-gap: 2rem;
	}
	@include bp($point_5) {
		margin-bottom: 2rem;
	}
}
 .popup_form_i_btn {
	button {
		padding: 2.3rem 14.9rem;
		background: $gradient;
		box-shadow: 0px 17px 20px rgba(224, 100, 0, 0.2);
		border-radius: .5rem;
		color: $white;
	}
	@include bp($point_5) {
		button {
			padding:1.3rem 4.9rem;
		}
	}
 }

 .popup_base::-webkit-scrollbar-track
{
	background-color: rgba(2, 2, 2, 0.2);
}

.popup_base::-webkit-scrollbar
{
	width: .4rem;
	background-color: rgba(2, 2, 2, 0.2);
}

.popup_base::-webkit-scrollbar-thumb
{
	background-color: $dark-orange;
}



.popup {
}
.popup_menu {
	li {
		margin-bottom: 2rem;
	}
	a {
		color: $black;
		font-size: 2rem;
		font-weight: 600;
	}
}
.popup_form_bg_m {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .9;
	background: #F5F5F5;
	@include bp($point_5) {
		width: 100%;
	}
}
.close_popups {
}
.remove {
}
.popup_form_m {
	z-index: 1;
	position: absolute;
	top: 1rem;
	left: 1rem;
	background: $white;
	border-radius: 1rem;
	padding: 4rem 7rem;
	@include bp($point_5) {
		padding: 4rem 3rem;
	}
}
.popup_close_m {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	button {
		color: #DC5F05;
	}
}
.icon {
}
.icon-close {
}
.popup_menu_head {
}
.popup_logo {
	max-width: 20rem;
	margin-bottom: 2rem;
}
.popup_social {
	ul {
		display: flex;
	}
	li {
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}
.popup_social_wh {
	border-radius: 4rem;
	height: 3.5rem;
	width: 3.5rem;
	overflow: hidden;
	a {
		@include flex-center;
		width: 100%;
		height: 100%;
		background: linear-gradient(67.62deg, #00A867 1.42%, #00FF38 113.45%);
		}
	img {
		width: 2rem;
		height: 2rem;
	}
	&:hover {
		transform: scale(1.1);
	}
}
.popup_social_tg {
	border-radius: 4rem;
	height: 3.5rem;
	width: 3.5rem;
	overflow: hidden;
	a {
		@include flex-center;
		width: 100%;
		height: 100%;
		background: linear-gradient(63.43deg, #009BDE 5.68%, #5ECFFF 111.74%);
	}
	img {
		width: 2rem;
		height: 2rem;
	}
	&:hover {
		transform: scale(1.1);
	}
}
.popup_tel {
}