footer.footer 
	.section_in 
		.footer_main
			ul 
				li 
					.footer_protect 
						p © 2022 Все права защищены
					.footer_policy 
						a(href="#") Политика конфиденциальности
				li 
					.footer_arkada 
						a(href="#")
							img(src="i/arkada.png", alt="")
