header.header 
	.section_in 
		.header_main
			.header_logo 
				a(href="#")
					img(src="i/logo.png", alt="")
			.header_menu 
				ul 
					li 
						a(href="#") Каталог 
					li 
						a(href="#") Схема работы
					li 
						a(href="#") FAQ
					li 
						a(href="#") Отзывы
					li 
						a(href="#") Контакты
			.header_social 
				ul 
					li
						.header_social_wh
							a(href="#")
								img(src="i/icons/whatsapp.png", alt="") 
					li
						.header_social_tg 
							a(href="#")
								img(src="i/icons/telegram.png", alt="") 
			.header_tel 
				ul 
					li
						a(href="#")
							p  +7 996 975 69 19
					li
						.heder_btn.trigger(data-target="form")
							button(type="button") Перезвоните мне
			.burger_trigger 
					span 
					span 
					span 
			

